*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 40px;
}
.month-name{
    font-size: 25px;
    margin: 15px 50px;
    display: flex;
    justify-content: space-between;
}
.date-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
    margin: 0 50px;
}
.date, .day{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 30px;
    font-weight: 600;
    background-color: rgba(237, 237, 237, 0.436);
    border-radius: 5px;
}
.day{
    background-color: rgb(208, 241, 255);
}
.another-month{
    color: gray;
    font-weight: 500;
}